@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply box-border;
    }
    body {
        @apply leading-7;
    }
    a {
        @apply text-blue-500 dark:text-blue-400;
    }
    ol {
        @apply list-decimal;
    }
    ul {
        @apply list-disc;
    }
    .post-body p {
        @apply pb-6;
    }
    .post-body ol {
        @apply list-decimal ml-8 pb-6;
    }
    .post-body ul {
        @apply list-disc ml-8 pb-6;
    }
    .post-body h2,.post-body h3,.post-body h4,.post-body h5 {
        @apply py-2 my-6 text-2xl font-bold;
    }
    .post-body a {
        @apply underline;
    }
    .post-body img {
        @apply mx-auto;
    }
    .post-body th,.post-body td {
        @apply p-2;
    }
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
    padding-bottom: 24px;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}