@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
a {
    color: #3367d6;
}
h2,h3 {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0;
}
ol {
    list-style-type: decimal;
    margin-left: 3rem;
    padding-bottom: 1rem;
}
p {
    padding-bottom: 1rem;
}
.clear {
    clear: both;
}
.mypic {
    float: left;
    margin: 0 1rem 1rem 0;
    border-radius: 5px;
}
.mypic-s {
    border-radius: 50%;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.label {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 50px;
}

.ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
}